input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }
}
//From luleyleo on github
environment {
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    EGL_PLATFORM "gbm"

    //NOCTALIA_DM_PREF_USR "your-user-name"
    NOCTALIA_DM_PREF_SES "niri"
}


spawn-sh-at-startup "qs -p /usr/share/bazzite-niri/noctalia-greet/"
